input:required {
    border: 1px solid black;
  }
  
  input:optional {
    border: 1px solid rgb(236, 20, 20);
  }

  fieldset > div {
    margin-bottom: 20px;
    display: flex;
    flex-flow: row wrap;
  }

  input + span {
    position: relative;
  }

  input:required + span::after {
    font-size: 0.7rem;
    position: absolute;
    content: "required";
    color: white;
    background-color: black;
    padding: 5px 10px;
    top: -26px;
    left: -70px;
  }

  input + span::before {
    position: absolute;
    right: -20px;
    top: 5px;
  }

  input:invalid {
    border: 2px solid red;
  }
  
  input:invalid + span::before {
    content: "✖";
    color: red;
  }
  
  input:valid + span::before {
    content: "✓";
    color: green;
  }

  input + span::after {
    font-size: 0.7rem;
    position: absolute;
    padding: 5px 10px;
    top: -26px;
  }
  
  input:required + span::after {
    color: white;
    background-color: black;
    content: "Required";
    left: -70px;
  }
  
  input:out-of-range + span::after {
    color: white;
    background-color: red;
    width: 155px;
    content: "Outside allowable value range";
    left: -182px;
  }