
        input[type="text"]:disabled {
            background: #eee;
            border: 1px solid #ccc;
        }

        label:has(+ :disabled) {
  color: #aaa;
}
.required::after{
  content: "*";
  color: red;
}
    